
.att {
    min-height: calc(100vh - 56px);
    /* ヘッダー高さ分を引く */
    display: grid;
    place-items: center;
    padding: 32px 16px;
    align-content: start;
    padding-top: 140px;
}

/* 中央ブロック */
.att__inner {
    width: 100%;
    max-width: 520px;
    text-align: center;
}

/* 状態バッジ */
.att__badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 12px;
    border-radius: 999px;
    background: #C8C8C8;
    color: #696969;
    font-size: 18px;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 24px;
    line-height: 1;
    letter-spacing: 0.15em;
}

/* 日付 */
.att__date {
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    color: #000000;
    margin-top: 4px;
    margin-bottom: 24px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 時刻（太く大きく） */
.att__time {
    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    margin-bottom: 80px;
    color: #000000;
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: center
}

/* ボタンエリア */
.att__actions {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 10px;
}

/* 出勤後みたいに2ボタン並べる時 */
.att__actions--row {
    grid-auto-flow: column;
    grid-auto-columns: 140px;
}

/* ボタン共通 */
.btn {
    padding: 0;
}

/* 黒ボタン（出勤/退勤） */
.btn-black {
    width: 221px;
    height: 77px;
    background: #000000;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.15em;
    color: #ffffffff;
    cursor: pointer;
}

/* 白ボタン（休憩） */
.btn-white {
    width: 221px;
    height: 77px;
    background: #ffffff;
    color: #000000;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.15em;
    border-color: #e5e7eb;
    cursor: pointer;
}

/* 退勤後メッセージ */
.att__message {
    margin-top: 6px;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #000000;
}

.att__actions--row {
    display: flex;
    gap: 60px;
    justify-content: center;
}

